body {
    padding: 0px;
    margin: 0px;
    background-image: url("bg.png")
}

#wrapper {
    margin: 0px;
}

#wrapper div {
}

#contentWrapper div {
}

#canvasField div {
    margin: 0px auto;
}

#menu {
    position: absolute;
    z-index: 1;
    top:0;
    right:0;
    
    float: none;
    width: 300px;
    color: #ffffff;
    text-shadow: 0px 0px 10px #000000;
    /* background-color: #0A122A; */
}

#title {
    display: block;
    padding: 10px;
    text-align: center;
    text-shadow: 0px 0px 10px #ffffff;
    font-size: 14px;
}

#pre canvas {
    display: block;
}

#menu h1 {
    display: block;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-shadow: 0px 0px 10px #ffffff;
    
    background: -moz-linear-gradient(top center, #6666ee 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, center top, center bottom, from(rgba(40, 40, 80, 0.6)), to(rgba(0, 0, 0, 0)));
}


.slider_wrap {
    padding: 10px 50px;
}

ul {
    list-style-type: none;
    margin-left: 20px;
}

.pen_list label input {
    display:none;

}
.pen_list label {
    font-size: 14px;
    margin-left: 20px;
    color: #ffffff;
    backgournd-color: #000000;

    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.pen_list label:hover{
    text-shadow: 0px 0px 10px #ffffff;
    background-color: #141C34;
}

.pen_list label.selected {
    margin-left: 0px;
    text-shadow: 0px 0px 10px #ffffff;
    background-color: #141C34;
}

.mode_button {
    margin-top: 10px;
    margin-left: 20px;
}

.help_block {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    border: solid 1px #2e2e2e;
    border-radius: 10px;
    background-color: rgba(110, 110, 110, 0.3);
    text-shadow: none;
    color: #fefefe;
    font-size: 10px;
}

a {
    margin-left: 200px;
}
